body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    /*background-color: #f0f4f8;*/
    background-color: #2B3444;
}
.login-container {
    width: 300px;
    /*background-color: #fff;*/
    background-color: #325169;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

h1{
    /*color: 09010B;*/
    color: aliceblue;
}

.logo {
    width:250px;
}
.form-group {
    margin-bottom: 20px;
    position: relative;
}
.form-group input {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
.form-group input:focus {
    border-color: #007bff;
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
.login-btn:hover {
    background-color: #0056b3;
}
.links {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 20px;
}
.links a {
    /*color: #007bff;*/
    color: aliceblue;
    text-decoration: none;
}
.links a:hover {
    text-decoration: underline;
}